@import '../../node_modules/@photo-sphere-viewer/core/index.css';
@import '../../node_modules/@photo-sphere-viewer/virtual-tour-plugin/index.css';
@import '../../node_modules/@photo-sphere-viewer/gallery-plugin/index.css';
@import '../../node_modules/@photo-sphere-viewer/markers-plugin/index.css';


/*
 *  Sizing of elements
 */

/* Parent container */
.gvs {
  container-type: inline-size;
  box-sizing: border-box;
}

.gvs * { box-sizing: border-box; }

/* Focused element */
.gvs .gvs-main,
.gvs .gvs-loader
{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.gvs-main {
  display: flex;
  flex-direction: column;
}

/* Non-focused element */
.gvs .gvs-mini
{
  position: absolute;
  top: unset;
  bottom: 10px;
  left: 10px;
  height: 30%;
  min-height: 232px;
  aspect-ratio: 1 / 1;
  z-index: 1;
}

.gvs:not(.gvs-has-mini) .gvs-mini,
.gvs.gvs-mini-hidden .gvs-mini {
  display: none;
}

@container (max-width: 576px) {       /* Special rule for small containers */
  .gvs .gvs-mini {
    max-width: 166px;
    max-height: 110px;
    min-height: unset;
    width: 50%;
    height: 30%;
  }
}

/* PSV fulfilling its parent */
.gvs-psv,
.gvs-popup {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}


/*
 * Styling
 */


/* Colors */
:root {
  --white: #ffffff;
  --black: #181818;
  --black-pale: #1b1a17;
  --red: #f70000;
  --red-pale: #ff726f;
  --grey: #f5f5f5;
  --grey-pale: #cfd2cf;
  --grey-semi-dark: #808080;
  --grey-dark: #3e3e3e;
  --blue: #2954e9;
  --blue-dark: #0a1f69;
  --blue-semi: #d7dffc;
  --blue-pale: #f2f5ff;
  --blue-geovisio: #34495e;
  --beige: #f5f3ec;
  --yellow: #fec868;
  --orange: #ff6f00;
  --orange-pale: #fffafa;
  --green: #7ec636;
  --green-pale: #f0ffee;
}

/* Hide PSV tooltips */
.psv-virtual-tour-tooltip { display: none; }

/* Non-focused element */
.gvs-mini,
.gvs-mini .psv-container,
.gvs-mini .gvs-map
{
  border-radius: 10px;
}

/* PSV under widgets */
.psv-container {
  z-index: 0;
}

/* Smaller loading text */
.psv-loader-text {
  text-align: center;
  font-size: 0.9em;
}

/* Overlay under navbar */
.psv-overlay {
  z-index: 89;
}

/* Loader overlay */
.gvs .gvs-loader {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(38,50,56);
  background: linear-gradient(30deg, rgb(38, 50, 56) 0%, rgb(176, 190, 197) 100%);
  z-index: 9000;
  transition: all 0.5s;
  font-family: sans-serif;
  color: white;
  font-size: 1.4em;
  text-align: center;
}

.gvs .gvs-loader.gvs-loader-visible {
  visibility: visible;
  opacity: 1;
}

.gvs .gvs-loader img {
  max-width: 90%;
  width: 250px;
  max-height: 80%;
}

.psv-loader-image { width: 80%; }

/* Blinking dots for loader overlay */
@keyframes blink {50% { color: transparent }}
.gvs-loader-dot { font-size: 1.7em; animation: 1s blink infinite; }
.gvs-loader-dot:nth-child(2) { animation-delay: 250ms }
.gvs-loader-dot:nth-child(3) { animation-delay: 500ms }

/* Hidden elements on mobile */
@container (max-width: 576px) {
  .gvs-mobile-hidden { display: none !important; }
}

/* Popup */
.gvs-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.1s;
  z-index: 10;
  visibility: visible;
  opacity: 1;
}

.gvs-popup.gvs-hidden {
  display: flex !important;
  opacity: 0;
  visibility: hidden;
}

.gvs-popup-backdrop {
  position: absolute;
  background: rgba(0, 0, 0, 0.85);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.gvs-popup .gvs-widget-bg {
  max-width: 90%;
  max-height: 90%;
	position: absolute;
	padding: 15px;
	z-index: 10;
	border-radius: 25px;
  overflow-y: auto;
}

.gvs-popup table {
  border-collapse: collapse;
  font-size: 0.9rem;
  width: 100%;
}

.gvs-popup thead {
  background-color: var(--blue-pale);
}

.gvs-popup th[scope="row"] {
  text-align: left;
}

.gvs-popup th, .gvs-popup td {
  border: 1px solid var(--grey-semi-dark);
  padding: 8px 10px;
  max-width: 600px;
}

.gvs-popup .gvs-table-light th[scope="row"] {
  width: 30%;
}

.gvs-popup .gvs-table-light th,
.gvs-popup .gvs-table-light td {
  border: none;
  padding: 5px 10px;
  text-align: left;
}

.gvs-popup table:not(.gvs-table-light) td:last-of-type {
  text-align: center;
}

.gvs-popup table:not(.gvs-table-light) tbody > tr:nth-of-type(even) {
  background-color: var(--grey);
}
